// tabbar
$tabbar-height: 98rpx;
$tabbar-background-color: #fff;
$default-text-color: #ccc;
$active-text-color: #35CF82;
$font-size-20: 20rpx;
$icon-height-54: 54rpx;
$is-phonx-bottom: 33rpx;
// font color
$font-color-3A3A3A: #3A3A3A;
$font-color-5790FF: #5790FF;
$font-color-35CF82: #35CF82;
$font-color-ADADAD: #ADADAD;
$font-color-F8B400: #F8B400;
$font-color-333: #333;
$font-color-666: #666;
$font-color-999: #999;
// font size
$font-size-24: 24rpx;
$font-size-26: 26rpx;
$font-size-28: 28rpx;
$font-size-30: 30rpx;
// font weight
$font-weight-200: 200;
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;
$font-weight-800: 800;

